$primary: rgb(28, 122, 69);
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Philosopher&display=swap');

body {
  font-family: 'Philosopher', sans-serif;
}

.lily {
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  color: rgb(28, 122,69);
}

.flower-card {
  display: flex;
  margin-bottom: 20px;
  width: 35%;
}

.welcome {
  text-align: center;
  font-size: 2rem;
}

.quantity-buttons {
  margin-bottom: 20px;
  display: flex;
  position: static;
}

.order-buttons {
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  max-height: 35px;
}

.history {
  border: 2px solid $primary;
  width: 18rem;
  border-radius: 25px;
  margin-bottom: 5px;
  text-align: center;
}
.name {
  text-decoration: underline;
}
li {
  font-weight: 900;
}
.orderHistory {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  color: rgb(28, 122,69);
  text-align: center;
  text-decoration: underline;
}
.currentOrderTitle {
  font-family: 'Dancing Script', cursive;
  color: rgb(28, 122,69);
  text-decoration: underline;
}
